body {
   font-family: 'Arimo', sans-serif;
}

.header {
  -webkit-box-shadow: 0px 10px 28px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 28px -12px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 28px -12px rgba(0,0,0,0.75);
  padding: 10px 0 10px;
  text-align: center;
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  background: rgba(255,255,255,0.75);
}

.header li {
  list-style: none;
  display: inline-block;
}

.header .col-md-1,
.header .col-md-2,
.header .col-md-3,
.header .col-md-4,
.header .col-md-5,
.header .col-md-6,
.header .col-md-7,
.header .col-md-8,
.header .col-md-9,
.header .col-md-10,
.header .col-md-11,
.header .col-md-12 {
  float: none;
}

.menu li {
  margin-right: 15px;
  font-size: 16px;
}

.menu a {
  color:black;
}
.menu a:hover {
  color:#005091;
  text-decoration: none;
  border-bottom: 1px dashed #008a8b;
  padding: 10px 0px;
}

.social ul {
padding: 0px;
}
.social li:first-of-type {
  margin-right: 2%;
}

.social li {
  max-width: 47%;
}

.social img{
  transition: all .2s ease-in-out;
}

.social img:hover {
  transform: scale(1.1);
}

.banner {
  background-image: url(../img/banner.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  min-height: 400px;
}

img {
  max-width: 100%;
}

.btn {
  border: 2px solid white;
  background: rgba(0,0,0,0.2);
}

.btn:hover {
  border: 2px solid white;
  background: rgba(255,255,255,0.2);
}

.banner a {
  color: white;
}

.banner a:hover {
  color: white;
}

.banner .container {
  display: table-cell;
  vertical-align: middle;
  background: rgba(0,0,0,0.2);
}
.banner {
  display: table;
  width: 100%;
}

.banner h1 {
  color:white;
  font-weight: 700;
}

.projects {
  background-color: #005091;
}

.section-title h2 {
  font-weight: 700;
}

.section-title {
  text-align: center;
  margin: 3rem 0;
}

.white {
 color: white;
}
.black {
  color:black;
}

.projects .col-md-4 {
  padding: 10px;
}

.projects .row {
  margin-bottom: 10px;
}

.project-text {
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  border-radius: 2%;
}

.project-text h3 {
  margin-top: 10px;
}

.project-text .btn {
  background: #008a8b;
  color: white;
}
.project-text .btn:hover {
  background: #005091;
  color: white;
}

.project-text h3 a {
  color: #005091;
  font-weight: 700;
}

.project-text h3 a:hover {
  color: #008a8b;
  font-weight: 700;
  text-decoration: none;
}

.skills {
  background-color:red;
  background-image: url(../img/pink-dust.png);
}

.about,
.skills,
.contact {
  margin: 3rem 0;
}

.round {
  border-radius: 5%;
}

.head {
  width: 25%;
  float: left;
  margin-right: 20px;
}
.school {
  width: 40px;
  float: left;
  margin-right: 20px;
}

.major {
    float: right;
    font-weight: 700;
    color: #006241;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

.turqoise {
  color:#00a78d;
}

@media (min-width: 768px) {
  #middle {
    display: table-cell;
    vertical-align: middle;
  }
  #headbox {
    display: table;
  }
}

@media (max-width: 768px) {

  .header .col-md-1,
  .header .col-md-2,
  .header .col-md-3,
  .header .col-md-4,
  .header .col-md-5,
  .header .col-md-6,
  .header .col-md-7,
  .header .col-md-8,
  .header .col-md-9,
  .header .col-md-10,
  .header .col-md-11,
  .header .col-md-12 {
    width: 100%;
    margin-bottom: 20px;

  }
  .header {
    position: relative;
  }
}
